<!DOCTYPE html>
<html lang="en">
    <head>
        <title>A simple Flask Python web application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://getbootstrap.com/1.4.0/assets/css/bootstrap.min.css">
    </head>
    <body>
        <h1 id="title">A simple Flask Python web application</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/vetronus/heroku-flask-template">Original Heroku-target SOURCE CODE(GitHub)</a></li>
                <li><a href="https://github.com/kumulustech/docker-flask">Dockerized SOURCE CODE(GitHub)</a></li>
            </ul>
        </nav>
        <h2>A rendered heroku-flask-template</h2>
        <p>
        This content was rendered from the index.html template, though no substitutions were defined.
        </p><br>
        You can download this Docker model sample template,
         or modify its source code at <a href="https://github.com/kumulustech/docker-flask">GitHub</a>
    </body>
</html>
